{extend name="public/base"/}
    {block name="link"}
        <!-- 资源加载 -->
        <!-- Datatables css -->
        <link href="__VC__/assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
        <link href="__VC__/assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css" />
        <link href="__VC__/assets/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css" />
        <link href="__VC__/assets/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css" />
        <link href="__VC__/assets/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css" />
        <link href="__VC__/assets/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css" />
        {include file="public/link"/}
        {/block}
{block name="content"}

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="moldinfo">模具</a></li>
                                            <li class="breadcrumb-item active">模具信息</li>
                                        </ol>
                                    </div> 
                                    <h3 class="page-title">模具信息 
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#stand-modal">添加模具</button></h3>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                    <div id="search" class="row">
                        <!-- 定义搜索条件 -->
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <table id="moldsdatatable" class="table table-hover table-bordered w-100 nowrap table-sm">
                                                <thead>
                                                    <tr class="fs-6">
                                                        <th>序号</th>
                                                        <th>项目号</th>
                                                        <th>模具编号</th>
                                                        <th>模具类型</th>
                                                        <th>模具名称</th> 
                                                        <th>产品编号</th>
                                                        <th>产品名称</th>
                                                        <th>模具尺寸(mm)</th>
                                                        <th>模具重量(Kg)</th>
                                                        <th>型腔体积(m3)</th>
                                                        <th>交付日期</th>
                                                        <th>状态</th>
                                                        <th>供应商</th>
                                                        <th>位置</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>

                                         
                                                <tbody>
                                                    {volist name = "molds" id="mold" key = 'k'}
                                                        <tr>
                                                            <td>{$k}</td>
                                                            <td>{$mold.proj_no}</td>
                                                            <td>{$mold.mold_no}</td>
                                                            <td>{$mold.mould_type}</td>
                                                            <td>{$mold.mold_name}</td>
                                                            {volist name  = "mold.parts" id = 'part' empty="<td></td><td></td>"}
                                                                <td>{$part.part_no}</td><td>{$part.part_name}</td>
                                                                {/volist}
                                                            <td>{$mold.mold_size}</td>
                                                            <td>{$mold.weight}</td>
                                                            <td>{$mold.cavity_volume}</td>
                                                            <td>{$mold.delivery_date}</td>
                                                            <td>{$mold.current_status}</td>
                                                            <td>
                                                                {if $mold.supplier == null}
                                                                {else}{$mold.supplier.name}
                                                                {/if}

                                                            </td>
                                                            <td>{$mold.location}</td>
                                                            <td id="editCol">
                                                               <a href="javascript: void(0);" class="text-reset fs-16 px-1" onclick="openModal(this)"> <i class="ri-edit-line"></i></a>
                                                               <a href="javascript: void(0);" class="text-reset fs-16 px-1" onclick="moldDel(this,{$mold.id})"> <i class="ri-delete-bin-2-line"></i></a>
                                                            </td>
                                                        </tr>
                                                    {/volist}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div> <!-- End Row -->


                            <!--  Modal content for the Large example -->
                                    <div id="stand-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="standard-modalLabel">模具信息</h4>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>                                                 
                                                    <div class="modal-body">
                                                         <!-- Form-validation -->
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                            <div class="form" >
                                                                                <form class="form-horizontal tasi-form" id="moldInfoForm" method="get" action="#" novalidate="novalidate">
                                                                                    <div class="form-group row">
                                                                                        <label for="mold_no" class="col-lg-2 col-form-label">模具编号 *</label>
                                                                                        <div class="col-lg-4">
                                                                                            <input class="form-control" id="mold_no" name="mold_no" type="text" autocomplete="off"  placeholder="添加则留空">
                                                                                        </div>
                                                                                        <label for="mold_name" class="col-lg-2 col-form-label">模具名称 *</label>
                                                                                        <div class="col-lg-4">
                                                                                            <input class="form-control" id="mold_name" name="mold_name" type="text">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group row">
                                                                                        <label for="mold_type" class="col-form-label col-lg-2">模具类型 *</label>
                                                                                        <div class="col-lg-4">
                                                                                            <select class="form-select" id="mold_type" name="mold_type">
                                                                                                <option>注塑模具</option>
                                                                                                <option>冲压模具</option>
                                                                                                <option>发泡模具</option>
                                                                                                <option>吸塑模具</option>
                                                                                                <option>吹塑模具</option>
                                                                                                <option>挤出模具</option>
                                                                                            </select>
                                                                                        </div>
                                                                                        <label for="current_status" class="col-form-label col-lg-2">状态 *</label>
                                                                                        <div class="col-lg-4">
                                                                                            <select class="form-select" id="current_status" name="current_status">
                                                                                                <option>待定</option>
                                                                                                <option>开发</option>
                                                                                                <option>生产</option>
                                                                                                <option>维修</option>
                                                                                                <option>外协</option>
                                                                                                <option>报废</option>
                                                                                                <option>设变</option>
                                                                                                <option>维护</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group row">
                                                                                        <label for="supplier_no" class="col-form-label col-lg-2">供方代码 </label>
                                                                                        <div class="col-lg-4">
                                                                                            <input class="form-control" id="supplier_no" name="mold_name" type="text">
                                                                                        </div>
                                                                                        <label for="delivery_date" class="col-form-label col-lg-2">交付日期* </label>
                                                                                        <div class="col-lg-4">
                                                                                            <input class="form-control" id="delivery_date" type="date" name="delivery_date">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group row">
                                                                                        <label for="cavity_volume" class="col-2 col-form-label">模腔体积 </label>
                                                                                        <div class="col-lg-4">
                                                                                            <input class="form-control " id="cavity_volume" name="cavity_volume" type="text" placeholder='m&#xB3;'>
                                                                                        </div>
                                                                                        <label for="mold_weight" class="col-2 col-form-label">模具质量 </label>
                                                                                        <div class="col-lg-4">
                                                                                            <input class="form-control " id="mold_weight" name="mold_weight" type="text" placeholder="KG">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group"></div>
                                                                                        <div class="row">
                                                                                            <label for="mold_size" class="col-form-label col-lg-2">模具尺寸</label>    
                                                                                            <div class="col-lg-2"> 
                                                                                            <input class="form-control" id="length" name="length" type="text" placeholder="长m">
                                                                                            </div> 
                                                                                                <label for="placeholder" class="col-auto col-form-label">*</label>
                                                                                            <div class="col-lg-2">
                                                                                                <input class="form-control" id="width" name="width" type="text" placeholder="宽m">
                                                                                            </div>
                                                                                                <label for="placeholder" class="col-auto col-form-label">*</label>
                                                                                            <div class="col-lg-2">
                                                                                                <input class="form-control" id="height" name="height" type="text" placeholder="高m">
                                                                                            </div>                            
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label for="part_no" class="col-form-label col-lg-2">产品编号 *</label>
                                                                                        <div class="col-lg-10">
                                                                                            <input class="form-control part_no_input" id="part_no_1" name="part_no[]" type="text" autocomplete="off">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group ">
                                                                                        <label for="supplier_mold_no" class="col-form-label col-auto">供应商模具号 </label>
                                                                                        <div class="col-lg-10">
                                                                                            <input class="form-control " id="supplier_mold_no" name="supplier_mold_no" type="text">
                                                                                            </div>
                                                                                    </div>
                                                                                    <div class="form-group ">
                                                                                        <label for="location" class="col-form-label col-lg-2">存放地 </label>
                                                                                        <div class="col-lg-10">
                                                                                            <input class="form-control " id="location" name="location" type="text">
                                                                                        </div>
                                                                                    </div>
                                                                                    <label for="" class="col-form-label col-lg-4">*  为必填项目</label>




                                                                                </form>
                                                                            </div> <!-- .form -->
                                                                </div> <!-- col -->
                                                            </div>
                                                        </div>  
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">关闭</button>
                                                        <button type="button" id="submitButton" class="btn btn-primary">提交</button>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->
                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 text-center">
                                <script>document.write(new Date().getFullYear())</script> © RainCoat - By <a href="http://www.bootstrapmb.com">RainCoat</a>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>
            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->
{/block}
{block name="script"}
    <!-- 网站script -->
    <script src="__YL__/js/yl.min.js"></script>
    <script src="__VC__/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="__VC__/assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="__VC__/assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="__VC__/assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="__VC__/assets/vendor/datatables.net-fixedcolumns-bs5/js/fixedColumns.bootstrap5.min.js"></script>
    <script src="__VC__/assets/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="__VC__/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="__VC__/assets/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="__VC__/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="__VC__/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="__VC__/assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="__VC__/assets/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="__VC__/assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>
    <!-- <script type="text/javascript">
    </script> -->
{/block}